{
  "parser": "babel-eslint",
  "rules": {
    "indent": [
        "error",
        "tab"
    ],
    "quotes": [1, "single", { "avoidEscape": true }],
    "comma-dangle": ["error", {
        "arrays": "always",
        "objects": "always",
        "imports": "never",
        "exports": "never",
        "functions": "never"
    }]
  }
}