{
  "parser": "babel-eslint",
  "rules": {
    "indent": [2, 2],
    "quotes": [1, "single", { "avoidEscape": true }],
    "comma-dangle": ["error", {
        "arrays": "always",
        "objects": "always",
        "imports": "never",
        "exports": "never",
        "functions": "never"
    }],
    "semi": [2, "never"]
  },
  "extends": [
    "prettier"
  ]
}